@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --color: #6B4636;
  --bg: #f6f2eb;
}

body {
  background: #f6f2eb;
  color: #6B4636;
  min-height: 100vh;
}
